
.box{
   width: 800px;
    
    /* border: 2px solid red; */
    margin: 20px auto;
}
.head{
    width: 455px;
    
    /* border: 2px solid black; */
    margin: auto;
    
}
.head h2{
    padding-left: 20px;
    font-size: 1.5em;
    font-weight: bold;
    display: block;
    line-height: 0%;
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    margin-top: 40px;

}
#main_img{
    margin-left: 40px;
    line-height: 0%;
}
.para{
    margin-left: 200px;
    font-family: Cambria, Cochin, Georgia, 'Times New Roman', Times, serif;
    color: rgba(0, 0, 0, 0.6);
    
}
.video{
    margin-left: 200px;
    width: 425px;
    height: 281px;
}